<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Title? | Your personal cookbook</title>

		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
		<meta name='viewport' content='width=device-width,initial-scale=1.0'>

		<link rel='stylesheet' type='text/css' href='/static/cookbook.css'>

		{% block styles %} {% endblock styles %}
	</head>
	<body>

		{% include 'web/header.html' %}

		{% block content %} {% endblock content %}

		{% block javascript %} {% endblock javascript %}

		{% include 'web/footer.html' %}

	</body>
</html>
