<nav class="page-header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'landing-page' %}">
        料理書
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li><a href='{% url 'list-recipes' user %}'>Recipes</a></li>
        <li><a href='{% url 'logout' %}'>Logout</a></li>
      {% else %}
        <li><a href='{% url 'login' %}'>Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
