.edit-recipe {
  .recipe-title {
    @extend .font-header;

    font-size: 2rem;
  }
}

.image-container {
  width: 800px;
  height: 500px;

  img {
    width: 100%;
  }
}

.recipe-image-upload {
  &__message {
    @extend .font-username;
  }

  &__error {
    @extend .font-username;

    color: $red;
  }
}

.button-add-item {
  @extend .font-body;

  background: none;
  border: 1px solid transparent;
  cursor: text;
  text-align: left;
  width: 400px;

  &:hover {
    border-color: #a9a9a9;
  }

  &--textarea {
    height: 75px;
    width: 500px;
  }
}

.field-input {
  @extend .font-body;

  border: 1px solid transparent;
  width: 400px;

  &:hover {
    border-color: #a9a9a9;
  }

  &.recipe-servings {
    @extend .font-header-bold;
  }
}

.field-textarea {
  @extend .font-body;

  height: 75px;
  width: 500px;
  resize: none;
  vertical-align: top;
  border: 1px solid transparent;

  &:hover {
    border-color: #a9a9a9;
  }
}

.form-footer {
  margin: 50px 0 0 160px;
}

.button-save {
  padding: 0.8rem 1.7rem;
  border: none;
  color: $white;
  background-color: #3e3f3a;
  margin-right: 40px;
}

.button-publish {
  padding: 0.8rem 1.5rem;
  border: none;
  color: $white;
  background-color: #325d88;
}
