.logout-page {
  background-image: url('/static/images/logout.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  height: calc(100vh - 70px);
  min-height: 325px;

  &__content {
    position: absolute;
  }
}
