.recipe-header {
  margin-top: 60px;
}

.recipe-title {
  margin-bottom: 0;
}

.recipe-author {
  @extend .font-username;

  margin-top: 10px;
}

.recipe-servings {
  @extend .font-header-bold;

  color: $light-gray;
}

.recipe-description {
  font-style: italic;
  width: 400px;
}

.recipe-section-heading {
  @extend .font-header-bold;
}

.recipe-preparation-list li {
  margin: 15px 0;
  padding-left: 5px;
}
