.edit-recipe .recipe-title {
  @extend .font-sans-serif;

  text-transform: uppercase;
  font-size: 2rem;
}

.image-container {
  width: 800px;
  height: 450px;
  margin-bottom: 25px;
}

.recipe-image-upload {
  &__message {
    @extend .font-sans-serif;
  }
}

.button-add-item {
  @extend .font-serif;

  background: none;
  border: 1px solid transparent;
  cursor: text;
  text-align: left;
  width: 400px;

  &:hover {
    border-color: #a9a9a9;
  }

  &--textarea {
    height: 75px;
    width: 500px;
  }
}

.field-input {
  @extend .font-serif;

  border: 1px solid transparent;
  width: 400px;

  &:hover {
    border-color: #a9a9a9;
  }

  &.recipe-servings {
    @extend .font-sans-serif-bold;

    text-transform: uppercase;
  }
}

.field-textarea {
  @extend .font-sans-serif;

  height: 75px;
  width: 500px;
  resize: none;
  vertical-align: top;
  border: 1px solid transparent;

  &:hover {
    border-color: #a9a9a9;
  }
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0;
  width: 75%;
}

.button-save {
  padding: 0.8rem 1.5rem;
  border: none;
  color: $white;
  background-color: #3e3f3a;
  text-decoration: none;
}

.button-publish {
  padding: 0.8rem 1.5rem;
  border: none;
  color: $white;
  background-color: $blue;
  text-decoration: none;
}

.button-delete {
  padding: 0.8rem 1.5rem;
  border: none;
  color: $white;
  background-color: $dark-red;
  text-decoration: none;
}

.flash-message {
  @extend .font-sans-serif;

  background-color: #e2eef9;
  border-radius: 3px;
  border: 1px solid #bac6d3;
  color: #246;
  opacity: 1;
  padding: 15px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  text-align: center;
  transition: opacity 0s;
  width: 200px;

  &.hidden {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
