.landing-page-hero {
  @extend .hero-container;

  background-image: url('/static/images/landing-page.jpg');

  &__content {
    position: absolute;
    bottom: 50px;
    right: 20px;
    text-align: right;

    @include mq($tablet) {
      right: 75px;
      width: auto;
    }
  }

  &__title {
    margin: 10px 0;
  }

  &__subtitle {
    font-size: 0.8rem;
    word-spacing: 10px;
  }

  &__description {
    @extend .font-serif-italic;

    margin: 10px 0;

    @include mq($tablet) {
      font-size: 1.2rem;
    }
  }
}
