.recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex-basis: 100%;
    margin: 0 10px 50px;
    padding: 20px;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);

    // Removes link text styles
    text-decoration: none;
    color: $black;

    @include mq($tablet * 0.75) {
      flex-basis: calc(50% - 60px);
    }
  }

  &__draft {
    @extend .font-sans-serif;

    display: block;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    margin: 0 auto 10px;
    border-radius: 10px;
    background: $dark-gray;
    color: $white;
  }

  &__image {
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    @extend .font-sans-serif;

    text-transform: uppercase;
    font-size: 1.25rem;
  }

  &__author {
    @extend .font-sans-serif;

    display: block;
  }

  &__description {
    font-style: italic;
  }
}
