.recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex-basis: calc(50% - 60px);
    padding: 20px;
    margin-bottom: 40px;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);

    // Removes link text styles
    text-decoration: none;
    color: $black;
  }

  &__image {
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    @extend .font-sans-serif;

    text-transform: uppercase;
    font-size: 1.25rem;
  }

  &__author {
    @extend .font-sans-serif;

    display: block;
  }

  &__description {
    font-style: italic;
  }
}
