.thank-you-page {
  @extend .landing-page-hero;

  background-image: url('/static/images/thank-you.jpg');
  text-align: left;

  &__content {
    position: absolute;
    top: 200px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 50px;
  }

  &__description {
    @extend .font-serif;

    margin: 0;
  }

  &__notice {
    @extend .font-serif;

    font-size: 0.8rem;
  }
}
