.welcome-page {
  @extend .landing-page-hero;

  background-image: url('/static/images/welcome.jpg');

  &__content {
    margin: 0 100px 100px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__description {
    @extend .font-serif-italic;

    font-size: 1.2rem;
    margin-bottom: 30px;
  }
}
