.welcome-page {
  @extend .hero-container;

  background-image: url('/static/images/welcome.jpg');

  &__content {
    position: absolute;
    bottom: 50px;
    left: 20px;

    @include mq($tablet) {
      bottom: 100px;
      left: 100px;
    }
  }

  &__title {
    line-height: 2.2rem;
    margin: 0;
  }

  &__description {
    @extend .font-serif-italic;

    font-size: 1.2rem;
    margin: 10px 0 30px;
  }
}
