{% extends 'web/base.html' %}

{% block content %}

<div class='container'>

	<h2>Create Account</h2>

	<form method='post'>
		{% csrf_token %}

    {% if form.errors %}
      <div class='flash flash-warn'>
        Please ensure all fields are filled out properly and try again.
      </div>
    {% endif %}

    <div class="form-group">
      <label>Username</label>
      {{ form.username }}
    </div>

    <div class="form-group">
      <label>Email address</label>
      <input class="form-control" type="text" value={{ email }} disabled>
    </div>

    <div class="form-group">
      <label>Password</label>
      {{ form.password }}
    </div>

    <div class='form-actions'>
		  <button type='submit' class='button-save'>Submit</button>
		</div>

	</form>

</div>

{% endblock content %}
