{% extends 'web/base.html' %}

{% block content %}

<div class='container'>

	<h2>Create Account</h2>

	<form method='post'>
		{% csrf_token %}

    {% if form.errors %}
      <div class='form-errors'>
				{% for error in form.username.errors %}
		      <p>{{error}}</p>
		    {% endfor %}
      </div>
    {% endif %}

    <div class="form-group">
      <label>Username</label>
      {{ form.username }}
			<p class="form-help-text">Only letters and numbers</p>
    </div>

    <div class="form-group">
      <label>Email address</label>
      <input class="form-control" type="text" value={{ email }} disabled>
    </div>

    <div class="form-group">
      <label>Password</label>
      {{ form.password }}
    </div>

    <div class='form-actions'>
		  <button type='submit' class='button-save'>Submit</button>
		</div>

	</form>

</div>

{% endblock content %}
