{% extends 'web/base.html' %}

{% block content %}

<div class='container'>

	<h2>Login</h2>

	<form method='post'>
		{% csrf_token %}

    {% if form.errors %}
      <div class='flash flash-warn'>
				<p>Some of the fields were incorrect. Please try again.</p>
				<p>Note: All fields are case sensitive and required</p>
      </div>
    {% endif %}

    <div class="form-group">
      <label>Username or Email address</label>
      {{ form.username }}
    </div>

    <div class="form-group">
      <label>Password</label>
      {{ form.password }}
    </div>

		<div class='form-actions'>
		  <button type='submit' class='button-save'>Submit</button>
		</div>

	</form>

</div>

{% endblock content %}
