{% extends 'web/base.html' %}

{% block content %}

<div class='container'>

	<div class='columns'>

	  <div class='one-half column centered'>

			<h2>Login</h2>

			<form method='post'>
				{% csrf_token %}

        {% if form.errors %}
          <div class='flash flash-warn'>
						<p>Some of the fields were incorrect. Please try again.</p>
						<p>Note: All fields are case sensitive and required</p>
          </div>
        {% endif %}

				<div class="form-group">
		      <label>Email address</label>
					{{ form.username }}
					<!-- <input type="text" class="form-control" placeholder="Email"> -->
		    </div>

				<div class="form-group">
		      <label>Password</label>
          {{ form.password }}
					<!-- <input type="password" class="form-control" placeholder="Password"> -->
        </div>

				<div class='form-actions'>
				  <button type='submit' class='btn btn-primary'>Submit</button>
				</div>

			</form>

	  </div>

	</div>

</div>

{% endblock content %}
