{% extends 'web/base.html' %}

{% block content %}

<div class="thank-you-page">
  <div class="thank-you-page__content">
		<h1 class="thank-you-page__title">Thanks for registering!</h1>
		<p class="thank-you-page__description">An email has been sent to your inbox.</p>
    <p class="thank-you-page__description">Follow the link from the email to complete your registration.</p>
		<p class="thank-you-page__notice">Note: The email may be a bit slow to be delivered</p>
	</div>
</div>

{% endblock content %}
