@import 'primer/primer';
@import 'variables';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  color: $default-font-color;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

header,
footer {
  background: $brand-red;
  height: 50px;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

.description {
  font-style: italic;
}

dt {
  float: left;
  padding: 5px;
  width: 200px;
}

dd {
  display: block;
  padding: 5px 0;
}
