.logout-page {
  @extend .hero-container;

  background-image: url('/static/images/logout.jpg');

  &__content {
    position: absolute;
    top: 150px;
    margin: 20px;
    padding: 10px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);

    @include mq($tablet) {
      left: 100px;
      margin: 0;
    }
  }
}
