.form-group {
  @extend .font-sans-serif;

  margin-bottom: 16px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: $white;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;

  &:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: 0;
  }

  &::placeholder {
    color: #636c72;
    opacity: 1;
  }

  &:disabled,
  &[readonly] {
    cursor: not-allowed;
    background-color: #eceeef;
    opacity: 1;
  }
}

.form-errors {
  display: inline-block;
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  margin-bottom: 1rem;
  padding: 0 15px;
  border: 1px solid transparent;
}
