@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:400,400i');

.font-sans-serif {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.font-sans-serif-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.font-serif {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

.font-serif-italic {
  @extend .font-serif;

  font-style: italic;
}
