{% extends 'web/base.html' %}

{% block content %}
{% verbatim %}

<section ng-app="cookbook" class="container">
  <header>
    <h3>Create Recipe</h3>
  </header>
  <form class="row" ng-controller="RecipeController as rc" ng-submit="rc.submit(recipe)">
    <div class="form-group col-sm-12">
      <label class="control-label">Title</label>
      <input type="text" class="form-control" ng-model="rc.recipe.title" placeholder="What are you making? I'm starving!"></input>
    </div>
    <div class="form-group col-sm-12">
      <label class="control-label">Description</label>
      <textarea class="form-control" ng-model="rc.recipe.description" placeholder="Write a description that will leave my mouth watering..."></textarea>
    </div>
    <div class="form-group col-sm-6">
      <label class="control-label">How many servings will this recipe make?</label>
      <div class="input-group">
        <input class="form-control" type="text" ng-model="rc.recipe.serves">
        <span class="input-group-addon">servings</span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label class="control-label">How long does it take to make?</label>
      <div class="input-group">
        <input class="form-control" type="text" ng-model="rc.recipe.duration">
        <span class="input-group-addon">minutes</span>
      </div>
    </div>
    <div class="col-sm-7">
      <label class="control-label">Ingredients</label>
      <div class="form-group" ng-repeat="ingredient in rc.ingredients">
        <input class="form-control" type="text" ng-model="ingredient.name" placeholder="{{ingredient.placeholder}}">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary pull-right" ng-click="rc.addIngredient()">Add Ingredient</button>
      </div>
    </div>
    <div class="col-sm-5">
      <label class="control-label">Equipment</label>
      <div class="form-group" ng-repeat="equip in rc.equipment">
        <input class="form-control" type="text" ng-model="equip.name" placeholder="{{equip.placeholder}}">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary pull-right" ng-click="rc.addEquipment()">Add Equipment</button>
      </div>
    </div>
    <div class="col-sm-12">
      <label class="control-label">Instructions</label>
      <div class="form-group" ng-repeat="instruction in rc.instructions">
        <textarea class="form-control" ng-model="instruction.name" placeholder="{{instruction.placeholder}}"></textarea>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <button type="button" class="btn btn-primary pull-right" ng-click="rc.addInstruction()">Add Instruction</button>
    </div>
    <div class="form-group col-sm-12">
      <input type="submit" class="btn btn-success" value="Submit Recipe" />
    </div>
  </form>
</section>

<script src="/static/libs/angular.min.js"></script>
<script src="/static/app.js"></script>

{% endverbatim %}
{% endblock content %}
