{% extends 'web/base.html' %}

{% block content %}
{% verbatim %}

<div class="main-content">
  <div class="container" ng-app="cookbook">
    <div class="flash-message hidden">Saved!</div>
    <form class="edit-recipe" ng-controller="RecipeController as rc" ng-submit="rc.submit(recipe)">
      <div class="image-container">
        <img ng-src={{rc.recipe.image}}>
      </div>
      <input class="recipe-image-upload" type="file" file-change="rc.setImage">
      <p class="recipe-image-upload__message">Upload a JPG, GIF, or PNG. Maximum 1MB in size</p>
      <div class="recipe-header">
        <input class="field-input recipe-title" ng-model="rc.recipe.title" placeholder="Title"></input>
{% endverbatim %}
        <p class="recipe-author">by {{ user }}</p>
{% verbatim %}
      </div>
      <section class='recipe-description'>
        <textarea class="field-textarea recipe-description" ng-model="rc.recipe.description"></textarea>
      </section>
      <section>
        <div>
          <input class="field-input recipe-servings" ng-model="rc.recipe.serves">
        </div>
        <div>
          <input class="field-input recipe-servings" ng-model="rc.recipe.time">
        </div>
      </section>
      <section class="equipment-section">
        <h4 class="recipe-section-heading">Equipment</h4>
        <ul>
          <li ng-repeat="equip in rc.equipment">
            <input class="field-input" ng-model="equip.name" placeholder="{{equip.placeholder}}">
          </li>
          <button type="button" class="button-add-item" ng-click="rc.addEquipment()">
            + Add Equipment
          </button>
        </ul>
      </section>
      <section class="ingredients-section">
        <h4 class="recipe-section-heading">Ingredients</h4>
        <ul>
          <li ng-repeat="ingredient in rc.ingredients">
            <input class="field-input" ng-model="ingredient.name" placeholder="{{ingredient.placeholder}}">
          </li>
          <button type="button" class="button-add-item" ng-click="rc.addIngredient()">
            + Add Ingredient
          </button>
        </ul>
      </section>
      <section class="instructions-section">
        <h4 class="recipe-section-heading">Preparations</h4>
        <ol class="recipe-preparation-list">
          <li ng-repeat="instruction in rc.instructions">
            <textarea class="field-textarea" ng-model="instruction.description" placeholder="{{instruction.placeholder}}"></textarea>
          </li>
          <button type="button" class="button-add-item button-add-item--textarea" ng-click="rc.addInstruction()">
              + Add Step
          </button>
        </ol>
      </section>
      <section class="form-footer">
        <button type="submit" class="button-save">Save</button>
        <button type="button" class="button-publish" ng-click="rc.publish()" ng-if="rc.recipe.draft">Publish</button>
      </section>
    </form>
  </div>
</div>

{% endverbatim %}
{% endblock content %}

{% block javascript %}

<script>
  var recipe = {{ recipe | safe }};
</script>

<script src="/static/libs/angular.min.js"></script>
<script src="/static/libs/cropper.min.js"></script>
<script src="/static/app.js"></script>

{% endblock javascript %}
