{% extends 'web/base.html' %}

{% block content %}

<div class="main-content">

  {% if not recipes %}

    <div class='container'>
      <p>You have no recipes yet</p>
      <a class='btn btn-primary' href='{% url 'create-recipe' %}'>Create Recipe</a>
    </div>

  {% else %}

    <div class='container'>
      <div class='recipe-list'>
        {% for recipe in recipes %}
          <a class="recipe-list__item" href='{% url 'recipe-detail' recipe.username recipe.id %}'>
            <article>
              {# TODO: other recipe info (e.g. stars, follows) #}
              {% if recipe.image %}
                <img class="recipe-list__image" src="{{ recipe.image }}">
              {% else %}
                <img class="recipe-list__image" src="/static/images/no-image.jpg">
              {% endif %}
              <span class="recipe-list__title">{{ recipe.title }}</span>
              <span class="recipe-list__author">{{ recipe.username }}</span>
              <p class="recipe-list__description">{{ recipe.description }}</p>
              {% if recipe.draft %}
                <div class="recipe-list__draft">Draft</div>
              {% endif %}
            </article>
          </a>
        {% endfor %}
      </div>
      {% if user.is_authenticated %}
      <a class='btn btn-primary' href='{% url 'create-recipe' %}'>Add New Recipe</a>
      {% endif %}
    </div>

  {% endif %}

</div>

{% endblock content %}
