{% extends 'web/base.html' %}

{% block content %}

<div class="main-content">

  {% if not recipes %}

    <div class='container'>
      <p>You have no recipes yet</p>
      <a class='btn btn-primary' href='{% url 'create-recipe' %}'>Create Recipe</a>
    </div>

  {% else %}

    <div class='container'>
      <div class='recipe-list'>
        {% for recipe in recipes %}
          <article class="recipe-list__item">
            <a class="recipe-list__link" href='{% url 'view-recipe' recipe.user recipe.id %}'>
              {# TODO: draft vs published, stars #}
              <div class="">
                <img class="recipe-list__image" src="/static/images/veggie_lasagna.jpg" alt="">
              </div>
              <span class="recipe-list__title">{{ recipe.title }}</span>
              <span class="recipe-list__author">{{ recipe.user }}</span>
              <p class="recipe-list__description">{{ recipe.description }}</p>
            </a>
          </article>
        {% endfor %}
      </div>
      {# TODO: move to top #}
      <a class='btn btn-primary' href='{% url 'create-recipe' %}'>Add New Recipe</a>
    </div>

  {% endif %}

</div>

{% endblock content %}
