{% extends 'web/base.html' %}

{% block content %}

<div class="main-content">

  {% if not recipes %}

    <div class='container'>
      <p>You have no recipes yet</p>
      <a class='btn btn-primary' href='{% url 'create-recipe' %}'>Create Recipe</a>
    </div>

  {% else %}

    <div class='container'>
      <div class='recipe-list'>
        {% for recipe in recipes %}
          <a class="recipe-list__item" href='{% url 'recipe-detail' recipe.user recipe.id %}'>
            <article>
              {# TODO: other recipe info (e.g. draft vs published, stars) #}
              <div class="">
                {% if recipe.image %}
                  <img src="{{ recipe.image }}">
                {% else %}
                  <img class="recipe-list__image" src="/static/images/no-image.jpg" alt="">
                {% endif %}
              </div>
              <span class="recipe-list__title">{{ recipe.title }}</span>
              <span class="recipe-list__author">{{ recipe.user }}</span>
              <p class="recipe-list__description">{{ recipe.description }}</p>
            </article>
          </a>
        {% endfor %}
      </div>
      {# TODO: move to top #}
      <a class='btn btn-primary' href='{% url 'create-recipe' %}'>Add New Recipe</a>
    </div>

  {% endif %}

</div>

{% endblock content %}
