{% extends 'web/base.html' %}

{% block content %}

<div class="container">
   <h1>Lasagna</h1>
   <section class='description'>
    <p>
      Born in the heart of Italy...
    </p>
  </section>
  <section>
    <h4>Time needed 90min</h4>
    <h4>Serves 6-8</h4>
  </section>
  <section>
    <h4>Equipment</h4>
    <ul>
      <li>Caserole dish</li>
      <li>Cheese grater</li>
    </ul>
  </section>
  <section>
    <h4>Ingredients</h4>
    <dl>
      <dt>48 oz</dt>
      <dd>Crushed tomato</dd>

      <dt>1 pound</dt>
      <dd>Ground beef</dd>

      <dt></dt>
      <dd>Oven-ready lasagna noodles</dd>

      <dt>2 cups</dt>
      <dd>Grated mozerella</dd>

      <dt>1/2 cup</dt>
      <dd>Parmesan cheese</dd>

      <dt>1</dt>
      <dd>Small onion</dd>

      <dt>5 cloves</dt>
      <dd>Garlic</dd>

      <dt>2 tablespoons</dt>
      <dd>Olive oil</dd>

      <dt></dt>
      <dd>Parsley</dd>

      <dt></dt>
      <dd>Basil</dd>

      <dt></dt>
      <dd>Oregano</dd>

      <dt></dt>
      <dd>Salt</dd>

      <dt></dt>
      <dd>Pepper</dd>
    </dl>
  </section>
  <section>
    <h4>Preperations</h4>
    <ul>
      <li>Shred the entire ball of mozeralla</li>
      <li>Cook ground beef until brown</li>
      <li>Olive oil, onion, garlic, add tomato, stir, herbs cook 15 min.</li>
      <li>Add tomato sauce. Keep tasting.</li>
      <li>In the casserole dish start making the lasagna layers with the pattern: sauce, noodles, sauce, cheese. Repeat until the dish is full or supplies run out. Note: Try to keep more cheese for the top layer</li>
      <li>Cover the top of the caserole dish in foil and bake 375 degree for roughly 35 min</li>
      <li>Uncover the lasagna and bake for 10 more minutes or until cheese is a nice brown colour.</li>
    </ul>
  </section>
</div>

{% endblock content %}
