{% extends 'web/base.html' %}

{% block content %}

<div class="container">
  <img src="/static/images/veggie_lasagna.jpg" alt="">
  <div class="recipe-header">
    <h1 class="recipe-title">Lasagna</h1>
    <p class="recipe-author">Amanda Ceniti</p>
  </div>
  <section>
    <h4 class="recipe-servings">Serves 6 - 8</h4>
    <h4 class="recipe-servings">Time needed 90 min</h4>
  </section>
  <section class='recipe-description'>
    <p>Born in the heart of Italy lasagna is a staple in Italian cuisine. Treat your family to a hearty meal just like Nona used to for you.</p>
  </section>
  <section>
    <h4 class="recipe-section-heading">Equipment</h4>
    <ul>
      <li>Caserole dish</li>
      <li>Cheese grater</li>
    </ul>
  </section>
  <section>
    <h4 class="recipe-section-heading">Ingredients</h4>
    <ul>
      <li>48 oz crushed tomato</li>
      <li>1 lb ground beef</li>
      <li>1 package of oven-ready lasagna noodles</li>
      <li>2 cups grated mozerella</li>
      <li>1/2 cup parmesan cheese</li>
      <li>1 small onion</li>
      <li>5 cloves garlic</li>
      <li>2 tablespoons olive oil</li>
      <li>Parsley, basil, oregano</li>
      <li>Salt and pepper</li>
    </ul>
  </section>
  <section>
    <h4 class="recipe-section-heading">Preperations</h4>
    <ol class="recipe-preparation-list">
      <li>Place ground beef in pan and season with salt and pepper. Cook until light brown.</li>
      <li>Add olive oil, onion, garlic</li>
      <li>Add tomato, herbs, stir, cook 15 min.</li>
      <li>Add the tomato sauce. Keep tasting and seasoning with herbs and spices to taste.</li>
      <li>Preheat the oven to 375 degrees F</li>
      <li>Shred the entire ball of mozeralla</li>
      <li>In the casserole dish start making the lasagna layers with the pattern: sauce, noodles, sauce, cheese. Repeat until the dish is full or supplies run out. Put a little extra cheese on top</li>
      <li>Cover the top of the caserole dish in foil and bake for roughly 35 min</li>
      <li>If you like the top crispy, uncover the lasagna and bake for 10 more minutes or until cheese has a nice brown colour</li>
    </ol>
  </section>
</div>

{% endblock content %}
