{% extends 'web/base.html' %}

{% block content %}

<div class="container">
  <img src="/static/images/veggie_lasagna.jpg" alt="">
  <div class="recipe-header">
    <h1 class="recipe-title">{{ recipe.title }}</h1>
    <p class="recipe-author">by {{ recipe.user }}</p>
  </div>
  <section>
    <h4 class="recipe-servings">Makes {{ recipe.serves }} servings</h4>
    <h4 class="recipe-servings">Takes {{ recipe.time }} min to make</h4>
  </section>
  <section class='recipe-description'>
    <p>{{ recipe.description }}</p>
  </section>
  <section>
    <h4 class="recipe-section-heading">Equipment</h4>
    <ul>
      {% for equipment in recipe.equipment.all %}
        <li>{{ equipment.name }}</li>
      {% empty %}
        <li>No equipment</li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h4 class="recipe-section-heading">Ingredients</h4>
    <ul>
      {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.name }}</li>
      {% empty %}
        <li>No ingredients</li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h4 class="recipe-section-heading">Preperations</h4>
    <ol class="recipe-preparation-list">
      {% for instruction in recipe.instructions.all %}
        <li>{{ instruction.description }}</li>
      {% empty %}
        <li>No instructions</li>
      {% endfor %}
    </ol>
  </section>
</div>

{% endblock content %}
