{% extends 'web/base.html' %}

{% block content %}

<div class="main-content">
  <div class="container">
    {% if recipe.image %}
      <img src="{{ recipe.image }}">
    {% else %}
      <img class="recipe-list__image" src="/static/images/no-image.jpg" alt="">
    {% endif %}
    <div class="recipe-header">
      <h1 class="recipe-title">{{ recipe.title }}</h1>
      <p class="recipe-author">by {{ recipe.user }}</p>
    </div>
    <section>
      <h4 class="recipe-servings">{{ recipe.serves }}</h4>
      <h4 class="recipe-servings">{{ recipe.time }}</h4>
    </section>
    <section class='recipe-description'>
      <p>{{ recipe.description }}</p>
    </section>
    {% if recipe.equipment.all %}
      <section>
        <h4 class="recipe-section-heading">Equipment</h4>
        <ul>
          {% for equipment in recipe.equipment.all %}
            <li>{{ equipment.name }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    <section>
      <h4 class="recipe-section-heading">Ingredients</h4>
      <ul>
        {% for ingredient in recipe.ingredients.all %}
          <li>{{ ingredient.name }}</li>
        {% empty %}
          <li>No ingredients</li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h4 class="recipe-section-heading">Preperations</h4>
      <ol class="recipe-preparation-list">
        {% for instruction in recipe.instructions.all %}
          <li>{{ instruction.description }}</li>
        {% empty %}
          <li>No instructions</li>
        {% endfor %}
      </ol>
    </section>
  </div>
</div>

{% endblock content %}
